# Week 1 course materials
WEEK1/Lecture01.pdf
WEEK1/Python_IDEs.DOCX
WEEK1/Python_Scripting_01.pdf
WEEK1/Discussion1.DOCX
WEEK1/Lab01.pdf

# Week 1 testing/environment folders
WEEK1/EnvSet/
WEEK1/Pycharm_Test/
WEEK1/VScodeTest/

# Week 2 course materials
WEEK2/Python_Scripting_04.pdf
WEEK2/Python_Scripting_02.pdf

# Week 2 data folder
WEEK2/PythonScripting_Ex02_Data/

# Course textbook
Python Scripting for ArcGIS Pro*.pdf